@page "/app/reports/trailbalance"
@inject IChartofAccount _chartofaccount
@inject IAccountReports _accountReports
@inject ICompany _company;
@inject IProduct _product
@using System.Data;
@inject IJSRuntime JSRuntime
@using System.Security.Claims
@inject NavigationManager navigation
<PageTitle>Inventory Item</PageTitle>
<div class="content container-fluid">
						<!-- /product list -->
						<div class="card">
							<div class="">
			<!-- /Filter -->
				<div class="">
					<div class="">
					<div class="row">
						<div class="row">
							<div class="col-lg-3 col-sm-6 col-12">
								<div class="form-group">
									From Date
									<RadzenDatePicker @bind-Value=@dtFromDate DateFormat="d" Class="w-100" />
								</div>
							</div>
							<div class="col-lg-3 col-sm-6 col-12">
								<div class="form-group">
									To Date
									<RadzenDatePicker @bind-Value=@dtToDate DateFormat="d" Class="w-100" />
								</div>
							</div>
							<div class="col-lg-3 col-sm-6 col-12">
								<div class="btn-group" style="margin-top:20px;">
									<a class="btn btn-default btn-with-tooltip" onclick="printDiv('PrintDiv')">
										<i class="fa fa-print"></i>
										<span class="caret"></span>
									</a>
								</div>
								<div class="btn-group" style="margin-top:20px;">
									<a @onclick="()=>LoadData()" class="btn btn-default btn-with-tooltip">
										<i class="fa fa-search"></i>
										<span class="caret"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr />
			<!-- /Filter -->
			<div id="PrintDiv">
								<div class="table-responsive">
									<br/>
				<table style="width: 100%;line-height: inherit;text-align: left;">
					<tbody>
						<tr>
							<td style="padding:5px;vertical-align:top;text-align:center;padding-bottom:20px">
								<font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 22px;color:#000;font-weight: 600;"> @company.CompanyName </font></font><br>
								<font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 17px;color:#000;font-weight: 600;">@company.Address</font></font><br>
								<font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 15px;color:#000;font-weight: 600;">@company.PhoneNo</font></font><br>
								<font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 16px;color:#000;font-weight: 600;"> Trail Balance</font></font><br>
                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;font-size: 14px;color:#000;font-weight: 500;"> @dtFromDate &nbsp; To &nbsp; @dtToDate</font></font><br>
							</td>
						</tr>
					</tbody>
				</table>
<br/>
                    <table class="table table-stripped">
                        <thead class="thead-light">
                            <tr>
                                <th>Account Name</th>
                                <th>Account Code</th>
                                <th>Debit</th>
                                <th>Credit</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                AccountReportView account;
                                AccountReportView subaccount;
                                AccountReportView minisubaccount;
                                AccountReportView mini3rdaccount;
                                decimal decDebit = 0;
                                decimal decCredit = 0;
                                decimal decBalance = 0;
                            }
                            @if (listModel == null)
                            {

                            }
                            else
                            {
                                
                                @foreach (var item in listModel)
                                {
                                    <tr>
                                        <td><span style="font-weight:900;">@item.LedgerName</span></td>
                                        <td>@item.LedgerCode</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    
                                    @foreach (var items in listGroup)
                                    {


                                        @if (item.LedgerId == items.GroupUnder)
                                        {
                                              account = _accountReports.TrailBalance(items.LedgerId, dtFromDate, dtToDate);
                                            <tr>
                                                <td><span style="font-weight:700;">&nbsp;&nbsp;&nbsp;&nbsp;@items.LedgerName</span></td>
                                                <td>@items.LedgerCode</td>
                                                <td>
                                                    @if (account.Debit > 0)
                                                    {
                                                        @account.Debit
                                                    }
                                                </td>
                                                <td>
                                                    @if (account.Credit > 0)
                                                    {
                                                        @account.Credit
                                                    }
                                                </td>
                                                <td>
                                                   @if(account.Balance != 0)
                                                    {
                                                    @account.Balance
                                                    }
                                                    </td> 
                                            </tr>
                                            @foreach (var itemss in listGroup)
                                            {
                                                @if (items.LedgerId == itemss.GroupUnder)
                                                {
                                                    subaccount = _accountReports.TrailBalance(itemss.LedgerId, dtFromDate, dtToDate);
                                                    <tr>
                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;@itemss.LedgerName</td>
                                                        <td>@itemss.LedgerCode</td>
                                                        <td>
                                                            @if (subaccount.Debit > 0)
                                                            {
                                                                @subaccount.Debit
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (subaccount.Credit > 0)
                                                            {
                                                                @subaccount.Credit
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (subaccount.Balance != 0)
                                                            {
                                                                @subaccount.Balance
                                                            }
                                                        </td>
                                                    </tr>
                                                    @foreach (var itemsss in listGroup)
                                                    {
                                                        @if (itemss.LedgerId == itemsss.GroupUnder)
                                                        {
                                                            minisubaccount = _accountReports.TrailBalance(itemsss.LedgerId, dtFromDate, dtToDate);
                                                            <tr>
                                                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;@itemsss.LedgerName</td>
                                                                <td>@itemsss.LedgerCode</td>
                                                              <td> @if (minisubaccount.Debit > 0)
                                                            {
                                                                    @minisubaccount.Debit
                                                            }
                                                        </td>
                                                        <td>
                                                                    @if (minisubaccount.Credit > 0)
                                                            {
                                                                        @minisubaccount.Credit
                                                            }
                                                        </td>
                                                        <td>
                                                                    @if (minisubaccount.Balance != 0)
                                                            {
                                                                        @minisubaccount.Balance
                                                            }
                                                        </td>
                                                            </tr>
                                                            @foreach (var itemssss in listGroup)
                                                            {
                                                                @if (itemsss.LedgerId == itemssss.GroupUnder)
                                                                {
                                                                    mini3rdaccount = _accountReports.TrailBalance(itemssss.LedgerId, dtFromDate, dtToDate);
                                                                    <tr>
                                                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@itemssss.LedgerName</td>
                                                                        <td>@itemssss.LedgerCode</td>
                                                                        <td>
                                                                            @if (mini3rdaccount.Debit > 0)
                                                                            {
                                                                                @mini3rdaccount.Debit
                                                                            }
                                                                        </td>
                                                                        <td>
                                                                            @if (mini3rdaccount.Credit > 0)
                                                                            {
                                                                                @mini3rdaccount.Credit
                                                                            }
                                                                        </td>
                                                                        <td>
                                                                            @if (mini3rdaccount.Balance != 0)
                                                                            {
                                                                                @mini3rdaccount.Balance
                                                                            }
                                                                        </td>
                                                                    </tr>
                                                                    @foreach (var itemsssss in listGroup)
                                                                    {
                                                                        @if (itemssss.LedgerId == itemsssss.GroupUnder)
                                                                        {

                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }

                                }
                            }
                        </tbody>
                        
<tfoot>

                            
                            <tr style="background: #fbfafa; font-weight:600;">
                                @{
                                    viewTotal = _accountReports.TotalBalanceTrailBalance(dtFromDate, dtToDate);
                                }
                                <td>Total</td>
                                <td></td>
                                <td>@viewTotal.Debit</td>
                                <td>@viewTotal.Credit</td>
                                <td>@viewTotal.Balance</td>
    </tr>
</tfoot>
                    </table>
								</div>
								</div>
							</div>
						</div>
					</div>
@code {
    Company company = new Company();
    DateTime dtFromDate = DateTime.UtcNow.AddDays(-1);
    DateTime dtToDate = DateTime.UtcNow;
    IEnumerable<AccountLedgerView> listModel;
    IEnumerable<AccountLedgerView> listModel1;
    IEnumerable<AccountLedgerView> listGroup;
    IEnumerable<AccountLedgerView> listAll;
    AccountReportView viewTotal;
    protected override async Task OnInitializedAsync()
	{
		company = await _company.GetById();
		await LoadData();
		StateHasChanged();
	}
	private async Task LoadData()
	{

        listModel1 = await _chartofaccount.GetAll();
        listModel = listModel1;
        listAll = await _chartofaccount.GetAllChartofAccount();
        listGroup = listAll;
		StateHasChanged();
	}
}